# ISYS613 - Data Sourcing and Quality
## Exam 2 - Fall 2021

## Instructions
For this exam, you are being asked to complete several unrelated
Python development activities. Each activity contains all of the information necessary to
complete the activity. If you believe that an unstated assumption is required to complete the
activity, please clarify your assumptions in the form of a comment.

For each of the questions below. Craft your solution in the single code cell that immediately
follows the question.

### Use only python standard library modules
With the exception of the pandas and numpy library modules, **You may use only python
standard library modules** in the construction of your solutions.
[The Python Standard Library](https://docs.python.org/3.7/library/)
<br/>
[Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
<br/>
[Numpy User Manual](https://numpy.org/doc/stable/index.html)


### Solution Integrity
This exam is open-book, open-note. That said, you are to complete this exam
on your own.  Please do not discuss the exam with another individual.

## Question_1
Ingest the two UTF-8 encoded csv files - *salaries_data.csv* and *publication_data.csv* -
into two pandas DataFrames.

Inspect the *salaries* DF using the head method.  The DF contains 7 columns –
key, rank, discipline, phd, service, sex, and salary.  These column names also reflect the
DF column index.  The row index is an implicit index ranging from 0 to 78 inclusive.
This DF represents data for a random group of faculty members at a large university.

Inspect the *publication* DF using the head method.  The DF contains 2 columns – key and pub_title.
These column names also reflect the DF column index.  The row index is an implicit index
ranging from 0 to 38 inclusive.  This data represents the publication title for
the most widely cited publication from last year for each faculty member who had a publication last year.

### Tasks
1.	Using a *group by* approach for sex and rank, what is the mean and standard deviation for salary.
Note: you must use a multiple (simultaneous) functions approach to calculate the
mean and standard deviation.
2.	Using the *key* attribute, merge the data from the DFs being sure not to exclude any faculty
member appearing in the salaries DF from the resulting DF.
3.	Using your merged DF, how many faculty members did not have a publication last year?

In [11]:
import pandas as pd
import numpy as np

In [57]:
# TEST DATA

salary_in_file = 'salaries_data.csv'
publication_in_file = 'publication_data.csv'

salary  = pd.read_csv(salary_in_file, delimiter=",") 
publication_in_file = pd.read_csv(publication_in_file, delimiter=",")

In [58]:
df = pd.merge(salary, publication_in_file, on='key', how="left")

In [96]:
df

,key,rank,discipline,phd,service,sex,salary,pub_title
0,a1,Prof,B,56,49,Male,186960,Vulputate curae ante sem habitasse
1,a2,Prof,A,12,6,Male,93000,NaN
2,a3,Prof,A,23,20,Male,110515,NaN
3,a4,Prof,A,40,31,Male,131205,"Varius arcu mi ac sit suspendisse, diam sodale..."
4,a5,Prof,B,20,18,Male,104800,NaN
...,...,...,...,...,...,...,...,...
73,a74,Prof,B,18,10,Female,105450,NaN
74,a75,AssocProf,B,19,6,Female,104542,Vulputate curae ante sem habitasse
75,a76,Prof,B,17,17,Female,124312,Suspendisse diam ullamcorper metus donec orci ...
76,a77,Prof,A,28,14,Female,109954,Sit facilisis massa hendrerit vulputate etiam ...
77,a78,Prof,A,23,15,Female,109646,NaN

In [59]:
print(df[df['pub_title'].isna()]['key'].count())

39

In [62]:
salary.groupby(['sex', 'rank']).agg({'salary': [np.mean, np.std]})

                         salary
                           mean           std
sex    rank
Female AssocProf   88512.800000  17965.286006
       AsstProf    78049.909091   9371.996121
       Prof       121967.611111  19619.582577
Male   AssocProf  102697.666667  19615.951069
       AsstProf    85918.000000   7737.387377
       Prof       124690.142857  27997.465651

## Question_2

In this question you will use data previously returned from the Yelp API to
to conduct a bag-of-words sentiment analysis.

### Tasks
1. Yelp’s GraphQL search API was previously used to return 5 Dentists from
the in the *Downtown, Pittsburgh, PA* location. The results of this query are available
in the UTF-8 encoded data file - *yelp_dentists.csv*. Review the contents of this file.
2. Ingest the UTF-8 encoded positive words file (*positive_words.txt*) into a python list
3. Ingest the UTF-8 encoded negative words file (*negative_words.txt*) into a python list
<br/> **Note:** Each of these files contains a single word per line.  Although not a
delimited file, both can be ingested via the csv module if you desire.
4. Ingest the UTF-8 encoded *yelp_dentists.csv* file and for each dentist, use their
*Business_ID* attribute, to invoke the
Yelp’s GraphQL [*reviews query API*](https://www.yelp.com/developers/graphql/query/reviews)
to return that dentist's review text.
5. For each dentist, determine (a) the count of positive words and (b) the count of negative words
occurring across all reviews for that dentist. Note that a positive or negative word should
be counted for each occurrence of that word in the a review.  For example, if the word
'good' appears three times in a review, the positive count should be
incremented by 3.
<br/> **Hint:** at a minimum, this
will require you to split the review text on word boundaries in order the answer the
following question: *"does this word in the review appear in the postitive(negative) list?"*
6. Determine which dentist's reviews contained the most positive words (by count) and which
dentist's reviews contained the most negative words.
7. Note that not every word in a review will appear in either the positive or negative list of words.
Be sure your logic handles this condition.  Similarly, a review word cannot be both positive and negative.
That is, you may assume that a word does not appear in both lists.
Be sure your logic correctly handles this assumption.
8. Output/print your results as follows (replace the bracketed items using your results):
```
The reviews for Business Id: <id>, Business Name: <name> contained the most positive words with <xxx> positive words.
The reviews for Business Id: <id>, Business Name: <name> contained the most negative words with <xxx> negative words.
```

In [19]:
# TEST DATA
positive_in_file = 'positive_words.txt'
negative_in_file = 'negative_words.txt'
dentists_in_file = 'yelp_dentists.csv'

# Request a Yelp Client ID and Client Secret (done...)
API_KEY = 'fDI-ka8iQSOUpQMRjxKI_pTqi_gulLL-b1EnIZXaqso-wlPVpXz8V4AH9LiSmVT5fisYbaDKsjT0njVWgxU2nemQmAAFTYPo5Ceu5IcW5Ln3jJxG0fSdZDG0ZHx_XXYx'

In [70]:
dentist  = pd.read_csv(dentists_in_file, delimiter=",") 
Business_id = dentist["Business_ID"].tolist()
Dentist_name = dentist["Dentist_Name"].tolist()

In [81]:
positive = []
with  open(positive_in_file, mode='r', encoding='utf-8') as jfh:
    for line in jfh:
        # rstrip() remove trailing whitespace chars which includes newline characters.
        line = line.rstrip()

        # skip empty lines
        if len(line) == 0:
            continue
        positive.append(line)

In [82]:
negative = []
with  open(negative_in_file, mode='r', encoding='utf-8') as jfh:
    for line in jfh:
        # rstrip() remove trailing whitespace chars which includes newline characters.
        line = line.rstrip()

        # skip empty lines
        if len(line) == 0:
            continue
        negative.append(line)

In [95]:
import requests
from requests.exceptions import HTTPError
import json
from pprint import pprint

# Declare some str vars to hold immutable URLs

YGQL_URL = 'https://api.yelp.com/v3/graphql'

'''
TASK 1: Request a Client ID and Client Secret from Yelp (done...)
'''

API_KEY = 'fDI-ka8iQSOUpQMRjxKI_pTqi_gulLL-b1EnIZXaqso-wlPVpXz8V4AH9LiSmVT5fisYbaDKsjT0njVWgxU2nemQmAAFTYPo5Ceu5IcW5Ln3jJxG0fSdZDG0ZHx_XXYx'

'''
TASK 2. Using the API key to call an YGQL Endpoint
'''
headers = {
    # combine the strings  'Bearer' and API key
    'Authorization': f'Bearer {API_KEY}',
    'Content-Type': 'application/graphql',
    'Accept-Language': 'en_US',
}

pid_count=[]
nid_count=[]
for biz_id in Business_id:
    print(biz_id)
    gql_query = f''' {{
        reviews(business: "{biz_id}") {{
            total
            review {{
                text
            }}
        }}
    }}
    '''
    try:
        response = requests.post(YGQL_URL, data=gql_query, headers=headers)
        response.raise_for_status()
    except HTTPError as http_err:
        print(f'HTTP error occurred: {http_err}')
        raise http_err
    except Exception as err:
        print(f'Other error occurred: {err}')
        raise err
    py_data = response.json()
    #pprint(py_data, indent=2)
    review_collect = []
    p_list=[]
    n_list = []
    for reviewlist in py_data['data']['reviews']['review']:
        best_url = reviewlist['text'].split()
        for each in best_url:
            review_collect.append(each)
    #print("here is review_collect")
    #print(review_collect)
    p_list = [x for x in review_collect if x in positive]
    n_list = [x for x in review_collect if x in negative]
    #print("here is postive list")
    #print(p_list)
    #print("here is negative list")
    #print(n_list)
    p_count = len(p_list)
    n_count = len(n_list)
    print("here is postive")
    print(p_count)
    pid_count.append(p_count)
    nid_count.append(n_count)


postive_index_list = []
for i, j in enumerate(pid_count):
    if j == max(pid_count):
        postive_index_list.append(i)

negative_index_list = []
for i, j in enumerate(nid_count):
    if j == max(nid_count):
        negative_index_list.append(i)      
        
print(postive_index_list)
print(negative_index_list)
print(pid_count)
print(nid_count)
print(Dentist_name[postive_index_list[0]])
print(Dentist_name[negative_index_list[0]])

    
pmsg = f'The reviews for Business Id:{Business_id[postive_index_list[0]]}, Business Name: {Dentist_name[postive_index_list[0]]} contained the most positive words with {pid_count[postive_index_list[0]]} positive words.'

nmsg = f'The reviews for Business Id:{Business_id[negative_index_list[0]]}, Business Name: {Dentist_name[negative_index_list[0]]} contained the most negative words with {nid_count[negative_index_list[0]]} negative words.'


print(pmsg)
print(nmsg)

XMQzB1pun4pcgrlP5wCj-w
here is postive
1
0dZgKUc-8Hc8LQSJ80C8Cg
here is postive
6
yKV373v-F8MKUXNsD9e89w
here is postive
3
amn6atLxWHufmgP4eBnE3A
here is postive
2
CtD46KWOC_5r0mkBMYLYGA
here is postive
2
xbsN7JIrxW6AGNw_jvaLAw
here is postive
0
[1]
[3]
[1, 6, 3, 2, 2, 0]
[0, 0, 0, 2, 0, 0]
Polished Dental
Disantis Edward J, DMD
The reviews for Business Id:0dZgKUc-8Hc8LQSJ80C8Cg, Business Name: Polished Dental contained the most positive words with 6 positive words.
The reviews for Business Id:amn6atLxWHufmgP4eBnE3A, Business Name: Disantis Edward J, DMD contained the most negative words with 2 negative words.

In [66]:
dentist

              Business_ID            Dentist_Name  Ratings
0  XMQzB1pun4pcgrlP5wCj-w  Michael J Cushman, DDS      4.5
1  0dZgKUc-8Hc8LQSJ80C8Cg         Polished Dental      5.0
2  yKV373v-F8MKUXNsD9e89w       Warwick Dentistry      5.0
3  amn6atLxWHufmgP4eBnE3A  Disantis Edward J, DMD      1.0
4  CtD46KWOC_5r0mkBMYLYGA        Certo Jos S, DMD      1.0
5  xbsN7JIrxW6AGNw_jvaLAw        Dunn Stephen DMD      1.0

In [67]:
print(dentist.columns)

Index(['Business_ID', 'Dentist_Name', 'Ratings'], dtype='object')

['Michael J Cushman, DDS',
 'Polished Dental',
 'Warwick Dentistry',
 'Disantis Edward J, DMD',
 'Certo Jos S, DMD',
 'Dunn Stephen DMD']